.options_wrap {
display: flex;
justify-content: center;
width: 109%;
margin-top: 20px;
}
.options_con {
display: flex;
flex-wrap: wrap;
width: 100%;
}
.options_item {
  margin-top: 20px;
  height: 500px;
  width: 45%;
  margin: 5px;
}
.options_item p {
  width: 90%;
}
.option3 {
  text-align: center;
}
.option2{
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .carousel, .carousel-inner {
    height: 250px;
  }
  .options_item {
    width: 90%;
    height: 400px;

  }
}
.thething {
  color: red;
}
